body {  
    font-family: Arial, sans-serif;  
    margin: 0;  
    padding: 0;
    background-image: url(cielo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  
}

header {  
    background-color: #315a43;  
    color: rgb(15, 1, 1);  
    padding: 10px;  
    text-align: center;  
}

.idiomas {
    display: flex;
    justify-content: space-between;
    background-color: #003618; 
    color: #333;  
    padding: 10px;
}

.idiomas ul {
    display: flex;
    gap: 15px;
}

.redes-sociales {
    display: flex;
    gap: 15px;
}

.cambio-idioma {
    color: #f4f4f445;
    font-size: 20px;
}

.menu {  
    display: flex;  
    justify-content: space-between; 
    align-items: center;            
    padding: 10px 20px;           
}  

.menu-list {  
    list-style: none;             
    display: flex;               
    gap: 20px;                    
}  

.menu-list li {  
    position: relative;  
}  

.menu-list li a {  
    color: white;  
    text-decoration: none;  
}  

.menu-list li a:hover {  
    text-decoration: underline;  
}

.hero {  
    background-image: url('hero-image.jpg');  
    color: rgba(7, 7, 7, 0.938);  
    text-align: center; 
    font-family: "Barlow Black";
    font-size: 40px;
    color: rgb(0, 0, 0);
    padding: 50px 0;  
}  

.project, .statistics {  
    padding: 20px;  
}  

footer {  
    background-color: #333;  
    color: white;  
    text-align: center;  
    padding: 10px 0;  
}

.logo img {  
    width: 150px; 
    height: auto; 
}

.dropdown {  
    display: none;  
    position: absolute;  
    background-color: #03a450;  
    list-style: none;  
    padding: 10px ;  
}  

.menu-list li:hover .dropdown {  
    display: block;  
}  

@media (max-width: 768px) {
    .idiomas {
        flex-direction: column;
        align-items: center;
    }

    .menu-list {
        flex-direction: column;
        align-items: center;
    }

    .hero {
        font-size: 30px;
    }

    .logo img {
        width: 100px;
    }

    .menu-list li {
        margin: 10px 0;
    }

    .redes-sociales {
        justify-content: center;
        margin-top: 10px;
    }

    .cambio-idioma {
        font-size: 16px;
    }
}

